@black: #212123;
@pr: #212123;
@red1: #E21736;
@primary: #212123;
@grey: #bfbfbf;
@light: #eeeeee;
@yellow: #E21736;
@green: #E21736;
@lgYellow: #E9FBE2;

@red: #DF4329;
@hoverred: #DF4329;
@dark: #a3a7b4;
// @basic: 'Arial';
@basic: 'Rawline Regular';
@mainfont: 'Rawline Regular';
@rr: 'Rawline Regular';
@titleLight: 'Rawline Regular';
@rb: 'Rawline Bold';
@rsb: 'Rawline SemiBold';
@r900: 'Rawline Black';
@mainText: #212123;

@pr: #212123;
@pr2: #454545;
@sec: #8F8F8F;
@sec1: #E8E9EA;
@sec2: #EBECED;
@sec3: #F0F3F6;
@sec4: #FAFAFA;
@ac1: #E21736;
@ac2: #FC778D;
@ac3: #FF8480;
@ac4: #FFF9F9;
@green1: #3AC895;


.tr {
	transition: .5s;
}

.br10 {
	border-radius: 10px;
}

.cardBorder {
	border: 5px solid @red;
	.br10;

	@media(max-width: 767px) {
		border-width: 3px;
	}

	img {
		.br10;
	}

	&:hover {}
}

.titleBold {
	font-family: 'Rawline Bold';
}