// ============= Середина страницы 404 =============
section.section-info.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") 404
		.content-404
			h2.title-2 Упс, такой страницы пока нет!
			p Возможно вы попытались загрузить не существующую страницу. Воспользуйтесь навигацией меню или вернитесь назад.
			.image-404
				img(src="img/main/404.png", alt="404")
			a(href="#!" class="page-button page-button--red") Вернуться назад
// ============= Конец Середина страницы 404 =============