section.aboutus#aboutus
	.container
		h2.title-2.text-center Наша компания не сотрудничает с посредниками
		.row
			.col-lg-8.col-xl-6
				.aboutus-text
					p Поэтому Ваш заказ никогда не потеряется с неизвестным курьером, и будет доставлен вовремя. Ежедневно сотрудники магазина стремятся к тому, чтобы покупки приносили и радость, и удовольствие, а главное не отнимали время, которое Вы можете провести вместе с родными и близкими. Операторы горящей линии ответят на все интересующие вопросы и помогут решить любую ситуацию.

					p За последний год компания расширила список требований, к качеству и свежести продуктов и усложнила процесс проверки товаров на инновационном распределительном центре, где все товары соблюдают товарное соседство и температурный режим, все автомобили компании оборудованы специальными камерами для сохранения свежести продуктов.

					p Интернет магазин Dia fresco - осуществляет доставку продуктов в Москве и Московской области, на дом или прямо к Вам в офис.У нас в наличии широкий выбор продуктов и сопутствующих товаров. Мы контролируем,качество каждого товара,упаковывая каждый товар бережно на собственном складе.
			.col-lg-4.col-xl-6
				.aboutus-img
					img.lazy(data-src="img/main/images/cheff.png", width="570" alt="img")