
section.section-info.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") О компании
		h1.head-1 О нас
		article.flex-height
			.text-block
				.cardBorder.text-block__img(style="background-image: url(img/aboutus/bg1.jpg)")
				h3.title-3  Цветочный интернет-магазин в Москве
				.text-16
					p Цветочный салон M Flowers создает волшебный мир, попадая в который вы можете реализовать все свои фантазии . Салон специализируется на создании оригинальных композиций из живых цветов и сухоцветов. Свадебный букет для невесты, подарочная цветочная корзина для юбиляра, корпоративная флористика - у нас вы сможете подобрать букеты и композиции на все случаи жизни. В салоне цветов M Flowers вы также можете оформить заказ на доставку цветов в любую точку города Москвы.
					p  Мы счастливы от того, что абсолютно каждый человек, вне зависимости от пола, социального статуса, возраста и т.д. обязательно найдет у нас подходящий букет, который подарит массу положительных эмоций получателю и самому отправителю. Мы очень гордимся счастливыми улыбками получателей! И нам всегда приятно получать благодарность в адрес нашей компании. Мы храним все отзывы, а некоторые из них опубликовываем здесь.
		article
			.border-block_inner
				h3.title-3 M Flowers – это интернет-магазин по доставке цветов и композиций
				.text-16
					p  Сотрудники M Flowers на связи ежедневно 24 чаcа в сутки, они всегда рады помочь Вам выбрать букет и готовы ответить на все вопросы. Заказать цветы вы можете на нашем сайте или позвонив по номеру телефона: +7 999 888-77-66, либо +7 888 777-66-55. 
		.text-block
			h3.title-3 Сервис и качество
			.text-16
				p Благодаря отличному сервису и высокой степени ответственности сотрудников мини-пиццерии, клиенты получают горячие и теплые блюда, даже если они заказали доставку в отдаленный район города. Внимательность к пожеланиям клиентов, позволяет нам совершенствовать меню и предлагать только те блюда, которые востребованы в пиццериях, а представленный разнообразный ассортимент пиццерий понравится даже гурманам. Технология приготовления доведена до совершенства и мы уверены в своей продукции, а также и в том, что заказав в наших заведениях один раз, вы с радостью вернетесь к нам снова или воспользуетесь услугой доставки заказа!
		.row
			.col-md-6.col-lg-6
				.text-block
					h3.title-3 Акции и скидки
					.text-16
						p Чтобы наши клиенты всегда были сытыми и довольными, мы позаботились о самых выгодных скидках и акциях, благодаря которым заказ доставки еды в нашей пиццерии станет более выгодным.
					a(href="page-sales.html").page-button.page-button--red Смотреть все акции
			.col-md-6.col-lg-6
				.block-img
					img(src="img/products/special11.jpg", alt="sale" width="570")
					.special-item__text.absolute-block
						.label-item
							span свадьба
						.discount-val.text-burn 20%