
section.section-info.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") О компании
		h1.page-title О нас
		article.flex-height
			.text-block
				.text-block__img(style="background-image: url(img/main/images/about-bg.jpg)")
				h3.title-3 Качественные продукты питания 
				.text-16
					p За последний год компания расширила список требований, к качеству и свежести продуктов и усложнила процесс проверки товаров на инновационном распределительном центре, где все товары соблюдают товарное соседство и температурный режим, все автомобили компании оборудованы специальными камерами для сохранения свежести продуктов.
					p Наша компания не сотрудничает с посредниками, поэтому Ваш заказ никогда не потеряется с неизвестным курьером, и будет доставлен вовремя. Ежедневно сотрудники магазина стремятся к тому, чтобы покупки приносили и радость, и удовольствие, а главное не отнимали время, которое Вы можете провести вместе с родными и близкими.  
					p Операторы горящей линии ответят на все интересующие вопросы и помогут решить любую ситуацию.
		article.border-block
			.border-block_inner
				h3.title-3 Dia fresco – это интернет-магазин по доставке продуктов питания.
				.text-16
					p В нашем магазине Вы найдете овощи, фрукты, орехи, напитки и многое другое по низким ценам! Заказать продукты вы сможете на нашем сайте diafresco.ru или позвонив по номеру телефона: +7 499 841-67-93, либо +7 977 675-66-30.
		.text-block
			h3.title-3 Сервис и качество
			.text-16
				p Благодаря отличному сервису и высокой степени ответственности сотрудников мини-пиццерии, клиенты получают горячие и теплые блюда, даже если они заказали доставку в отдаленный район города. Внимательность к пожеланиям клиентов, позволяет нам совершенствовать меню и предлагать только те блюда, которые востребованы в пиццериях, а представленный разнообразный ассортимент пиццерий понравится даже гурманам. Технология приготовления доведена до совершенства и мы уверены в своей продукции, а также и в том, что заказав в наших заведениях один раз, вы с радостью вернетесь к нам снова или воспользуетесь услугой доставки заказа!
		.row
			.col-md-6.col-lg-6
				.text-block
					h3.title-3 Акции и скидки
					.text-16
						p Чтобы наши клиенты всегда были сытыми и довольными, мы позаботились о самых выгодных скидках и акциях, благодаря которым заказ доставки еды в нашей пиццерии станет более выгодным.
					a(href="page-sales.html").page-button.page-button--red Смотреть все акции
			.col-md-6.col-lg-6
				.block-img
					img(src="img/main/discounts/action3.jpg", alt="sale")