
section.basket.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Корзина
		h1.page-title Корзина
		.basket-state.d-none
			h2 В корзине нет товаров
		.basket-content
			.basket-table#basket-table
				+basketItem('product1', 'Шелковица', 'Армения')
				+basketItem('product2','Крыжовник', 'Россия')
				+basketItem('product3','Бананы', 'отборные','500')
				+basketItem('product4','Вешенки')
			.basket-result
				.row
					.col-md-6.col-lg-4.offset-lg-2.col-xl-4.offset-xl-3.order-md-2
						.total-amount
							span.title-3 Итого:
							span 14&nbsp;шт на сумму 
							.basket-item__cost
								.basket-item__cost-val.title-34 1650
								.basket-item__cost-dim руб
					.col-md-6.col-xl-5.order-md-1
						.basket-btn
							a(href="checkout-order.html").page-button.page-button--red Перейти к оформлению
							button.basket-clean.page-btn2
								span Очистить корзину
								span
									svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(fill-rule="evenodd" clip-rule="evenodd" d="M10 1H6V2H10V1ZM2 4V3H14V4H13V14C13 14.5523 12.5523 15 12 15H4C3.44772 15 3 14.5523 3 14V4H2ZM6 6H7V12H6V6ZM9 6H10V12H9V6ZM4 14V4H12V14H4Z" fill="#1F1F1F")
										mask(id="mask-del" mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="1" width="12" height="14")
											path(fill-rule="evenodd" clip-rule="evenodd" d="M10 1H6V2H10V1ZM2 4V3H14V4H13V14C13 14.5523 12.5523 15 12 15H4C3.44772 15 3 14.5523 3 14V4H2ZM6 6H7V12H6V6ZM9 6H10V12H9V6ZM4 14V4H12V14H4Z" fill="white")
				