
section.basket.pt-30.pb-80
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Корзина
		.title-row.mb-40
			h1.page-title Корзина
			button.upper-link.restart-basket Обновить корзину
		
		.basket-content
			.basket-table#basket-table
				+basketItem('background-image: url(img/products/elvira.jpg)', 'Букет "Миранда"', 2390)
				+basketItem('background-image: url(img/products/new1.jpg)', 'Букет "Миранда"', 2390)
				+basketItem('background-image: url(img/products/new2.jpg)', 'Букет "Миранда"', 2390)
				+basketItem('background-image: url(img/products/new3.jpg)', 'Букет "Миранда"', 2390)
				
			.basket-result
				.row
					.col-md-8.col-lg-7.col-xl-6
						.basket-result-left
							.promo-block
								.title-18
									p Введите промокод:
								form.promo-form
									.form-group 
										input(type="text" name="userPromo"  )
										span.fake-placeholder Введите текст
									.promo-block-btn
										button(type="submit").h-40.page-button.page-button--light Применить
					.col-md-4.col-lg-5.col-xl-6
						.basket-result-right
							.title-18
								p Итого:
							.basket-total-summ.accent-item
								p 5685 руб
					
			.basket-footer.pt-30
				.row
					.col
						.basket-footer__btn
							a(href="order-received.html").page-button.page-button--red Перейти к оформлению
							button.remove-all.border-btn
								span Очистить корзину
								span
									+deleteCart
