section.blog.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Блог
		h1.page-title.mb-40 Блог
		.blog-content
			.row
				.col-md-6.col-lg-4
					+blogCard(1, 'Свадебный букет. Как выбрать используя 3 простых правила.', 'Свадебный букет или букет невесты — это то что придает законченности образу невесты, так сказать…')
				.col-md-6.col-lg-4
					+blogCard(2, 'Цветы в шляпной коробке, как признак стиля.', 'Следя за актуальными тенденциями флористики нельзя не заметить такое явление, как цветы в шляпной коробке.… ')
				.col-md-6.col-lg-4
					+blogCard(3, 'Букет 101 роза. Или миллион алых роз в миниатюре.', 'Россия и россияне щедры на широкие жесты как никто. Только в России букет 101 роза…')
				.col-md-6.col-lg-4
					+blogCard(4, ' Пиноновидные розы для элегантных.', 'Когда хочется удивлять и дарить что-то более изысканное чем классические розы, пионовидные розы встают на…')
				.col-md-6.col-lg-4
					+blogCard(5, 'Цветы в стеклянной коробке – новый флористический тренд 2020 года!', 'Мы следим за трендами и новыми веяниями флористической…')
				.col-md-6.col-lg-4
					+blogCard(6, 'Гортензия, ну что с тобой делать? ', 'Какие существуют хитрости для продления жизни срезанной ГОРТЕНЗИИ? Латинское название происходит от греческих слов ... ')
				.col-md-6.col-lg-4
					+blogCard(7, ' Букеты для мужчин? Легко!', 'Большинство женщин попросту стесняются дарить цветы мужчине на юбилей, день рождения или любой другой праздник.')
				.col-md-6.col-lg-4
					+blogCard(8, 'Сезон чудесных пионов!', 'Какие ассоциации у вас возникают при слове «пион»? Лето, тепло, солнце, каникулы, школа, выпускной... Если не у каждого, то у многих...')
				.col-md-6.col-lg-4
					+blogCard(9, 'Что за цветы радужные розы?', 'Радужной называются специально окрашенные розы с разноцветными лепестками: зелеными, синими, желтыми, красными...')