section.category
	.container
		.category-wrapper
			.row
				.col-sm-4
					a.category-item(href="categories.html")
						.category-item__img
							picture
								img(src="img/categories/cat1.jpg", data-srs="img/categories/cat1@2x.jpg" alt="cat" width="370")
						h3.category-item__title Классические
						p.border-link смотреть
				.col-sm-4
					a.category-item(href="categories.html")
						.category-item__img
							picture
								img(src="img/categories/cat2.jpg",data-srs="img/categories/cat2@2x.jpg"  alt="cat" width="370")
						h3.category-item__title Дизайнерские
						p.border-link смотреть
				.col-sm-4
					a.category-item(href="categories.html")
						.category-item__img
							picture
								img(src="img/categories/cat3.jpg", data-srs="img/categories/cat3@2x.jpg" alt="cat" width="370")
						h3.category-item__title В коробке
						p.border-link смотреть