section.category.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Каталог
		h1.page-title Каталог
		.category-wrapper
			.row
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category1.png", alt="cat")
						h3.category-item__title Овощи
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category2.png", alt="cat")
						h3.category-item__title Фрукты
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category3.png", alt="cat")
						h3.category-item__title Ягоды
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category4.png", alt="cat")
						h3.category-item__title Орехи и сухофрукты
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category5.png", alt="cat")
						h3.category-item__title Зелень
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category6.png", alt="cat")
						h3.category-item__title Мясо, рыба, птица
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category7.png", alt="cat")
						h3.category-item__title Вода, напитки, соки
				.col-md-6.col-lg-3
					a.category-item(href="categories.html")
						.category-item__img
							img(src="img/main/categories/category8.png", alt="cat")
						h3.category-item__title Товары по акции