
section.catalog
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="catalog.html") Каталог
		h1.head-1 Каталог
		.catalog-block
			.row
				.col-lg-9.order-lg-2
					.catalog-content
						.content-filters
							.filter-display
								button.view-table.active
									+table
								button.view-list
									i.fas.fa-list-ul
							.filter-select.form-select
								.form-select__icon
									i.fas.fa-angle-down
								input(type="text" name="city" placeholder="Выводить сначала" autocomplete="off")
								ul.form-select__options
									li.active Самые дорогие
									li Самые дешевые
									li Популярные
									li В наличии
							
							.filter-select--count
								p Товаров на странице:
								.count-buttons
									button.active 12
									button 24
									button 36
									button Все
						.content-badges
							.badge
								p Розы
								+close
							.badge
								p от 500 до 1000
								+close
							.badge
								p Органза
								+close
							
						.content-cards
							.row
								.col-md-6.col-xl-4
									+main-product-card('Букет “Королева”', 'new1', 270,  4890, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Анна”', 'new2', 270,  4500, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Мария”', 'new3', 270,  5000, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Соната”', 'new4', 270,  4250, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Королева”', 'new1', 270,  4890, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Анна”', 'new2', 270,  4500, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Анна”', 'new2', 270,  4500, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Анна”', 'new2', 270,  4500, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
								.col-md-6.col-xl-4
									+main-product-card('Букет “Анна”', 'new2', 270,  4500, 2320, 'Калла - 3 шт. ; Роза - 11 шт. ; Альстромерия - 5 шт.; Гиперикум - 5 шт. ; Солидаго - 3 шт. ; Писташ ; Упаковка ( фетр, пленка цветная, лента)')
				.col-lg-3.order-lg-1
					include _filter-panel.pug
				