
section.checkout-page.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Оформление заказа
		h1.page-title.mb-40 Оформление заказа
		form.checkout-form
			.row
				.col-lg-6
					.form-column
						h3.title-3.mb-30 1. Контактные данные						
						.form-group
							input(type="text" name="userName" )
							span.fake-placeholder Имя #[span *]
							span.error-notify
							span.error-text Введите имя
						.form-group 
							input(type="text" name="userPhone"  class="phone")
							span.fake-placeholder Телефон #[span *]
							span.error-notify
							span.error-text Введите номер телефона
						.form-group
							input(type="text" name="addressStreet" )
							span.fake-placeholder Улица #[span *]
							span.error-notify
							span.error-text Введите улицу
						.form-group
							input(type="text" name="addressHouse" )
							span.fake-placeholder Дом #[span *]
							span.error-notify
							span.error-text Введите дом
						.form-group
							input(type="text" name="addressNumber" )
							span.fake-placeholder Квартира #[span *]
							span.error-notify
							span.error-text Введите номер квартиры
						.form-group
							textarea(type="text" name="message"  )
							span.fake-placeholder Комментарий к заказу
				
				.col-lg-6
					.row
						.col-md-6.form-column--2
							.form-column
								h3.title-3 2. Варианты доставки 
								.form-block
									+radioBlock('rad1', 'По Москве в пределах МКАД:', 'Бесплатная доставка от - 5000 рублей.<br> Стоимость доставки 390 рублей.', 'radio-gr1','', 'checked', '+390 &#8381;')
									+radioBlock('rad2', ' По Москве, за МКАД и по Московской&nbsp;области', 'до 10 км - 449 руб', 'radio-gr1','','','+490 &#8381;')
									+radioBlock('rad3', ' Самовывоз', 'г. Москва, ул. Королева, 15', 'radio-gr1')
							.form-column
								h3.title-3 3. Способы оплаты
								.form-block
									+radioBlock('rad3', ' Оплата наличными', 'Оплата при получении лично или курьеру', 'radio-gr2','', 'check')
									+radioBlock('rad4', ' Оплата через Яндекс', 'Оплата на сайте через систему Яндекс.Деньги', 'radio-gr2')
									+radioBlock('rad5', ' Банковской картой онлайн', 'Оплата заказа на сайте через защищенный шлюз Яндекса', 'radio-gr2')
									+radioBlock('rad6', 'Оплата картой при получении', 'Оплата банковской картой при получении заказа при самовывозе или получении курьером', 'radio-gr2')
								
						.col-md-6
							.form-column
								h3.title-3 4. Дополнительно
								.form-block
									+radioBlock('rad7', 'Как можно скорее', 'Мы доставляем заказ в течении 40 мин.', 'radio-gr3','', 'check')
								.form-block
									.form-group
										input(type="radio" id="rad8" name="radio-gr3") 
										label(for="rad8")
											span Доставка на определенное время                      
										
										.form-group
											input.setTime(type="text" name="DeliveryTime" )
											span.fake-placeholder.pl-20 Введите время доставки #[span *]
								.form-block
									.subscribes-block
										.subscribes-block__top
											p Согласен на отправку:
											.subscribes-block__inputs
												label.form-label sms
													input.form-checkbox(type="checkbox" name='smsCheck' checked)
													span.custom-checkbox
												label.form-label Email
													input.form-checkbox(type="checkbox" name='smsCheck')
													span.custom-checkbox
										p Мы не рассылаем спам. Вы будете получать только актуальную информацию о наших акциях.

						
				.col-lg-6
					.checkout-content__footer
						.form-group.agree-text
							label(class="form-label")
									input(class="form-checkbox" type="checkbox" name="agreePolitic")
									span.custom-checkbox
									| Принимаю  #[a(href="#") условия обработки] моих данных.
			.row
				.col-lg-6
					.form-group.form-group--btn
						a(href="basket-page.html").page-button.page-button--light Назад к заказам
						input.page-button.page-button--red(type="submit" value="Оформить заказ")
						
				.col-lg-6
					.form-column
						.table-row.table-row__result.title-3
							p Сумма заказа: #[span.text-14 3шт на сумму]
							.total-amount.title-3.red-text
								span 1365
								span руб