
section.contacts.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Контакты
		.contacts-content
			.row
				.col-md-6.col-lg-7
					.feedback-form
						h2.page-title Обратная связь						
						form(action="").contact-form
							.form-block.d-flex
								.form-group
									input(type="text" name="userName" )
									span.fake-placeholder Имя
									span.error-notify
									span.error-text Введите имя
								.form-group 
									input(type="text" name="userEmail"  )
									span.fake-placeholder Email #[span *]
									span.error-notify
									span.error-text Введите Email
							.form-group
								textarea(type="text" name="message"  )
								span.fake-placeholder Введите сообщение
							.form-group.agree-text
								label(class="form-label")
									input(class="form-checkbox" type="checkbox" name="agreePolitic")
									span.custom-checkbox
									| Принимаю  #[a(href="#") условия обработки] моих данных.
							.form-group
								input.page-btn.page-btn--red(type="submit" value="Отправить")
						#answer
				.col-md-5.col-lg-4.offset-md-1
					.address-block
						h2.page-title Контакты
						.contacts-info.title-3
							p Круглосуточная поддержка клиентов и оформления заказа:
								a(href="tel:+74998416793" itemprop="telephone") +7 499 841-67-93
								a(href="tel:+74998416793" itemprop="telephone") +7 977 675-66-30.
						.address-block
							.address-block__item(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
								p Адрес:
								p
									span(itemprop="addressLocality")  г.Москва, 
									span(itemprop="streetAddress") ул. Королева, 12 
						.address-block__item
							span Время работы:								
							span СР,ЧТ, ВС  с 15:00 - 00:00;   ПТ, СБ с 15:00 - 02:00;   ПН, ВТ - выходные дни
						.address-block__item
							span Телефон:
							a(href="tel:+79055555555" itemprop="telephone") + 7 (905) 555-55-55
						.address-block__item
							span Email:
							a(href="mailto:info@mail.ru" itemprop="email") info@mail.ru