
section.delivery.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Доставка и оплата
		h1.page-title Доставка и оплата
		article.border-block
			h3.title-34 Круглосуточная доставка по Москве и Московской области 
			.text-16
				p M Flowers - осуществляет доставку цветов, на дом или прямо к Вам в офис.
		article
			.row
				.col-lg-8
					.text-block
						h3.title-3 Мы заботимся о безопасности и доставки:
						.marker-list
							ul
								li Соблюдение температурных режимов на складе и при доставке.
								li 100% контроль качества и свежести.
								li Удобные 4-х часовые интервалы.
								li Широкий ассортимент свежих продуктов и товаров на каждый день. 
								li Возможность отказаться от любого товара при получении бесплатно.
								li Курьеры обеспечены медицинскими масками и санитайзерами для обработки рук.
								li Все сотрудники склада и службы доставки проходят ежедневные медосмотры.
								li Введена бесконтактная доставка.
								li Курьер оставит заказ у Вашей двери, позвонит и скажет что заказ доставлен .
								     
					.text-block
						h3.title-3 Оплата
						.text-16
							p Вы оплачиваете заказ при получении, безналичным и наличным расчетом. 
						.payment-type
							p Мы принимаем:
							.payment-type__logo
								img(src="img/payment/logo-mir.png", alt="img" width="56")
								img(src="img/payment/logo-qiwi-koshelek.png", alt="img" width="56")
								img(src="img/payment/logo-visa.png", alt="img" width="56")
								img(src="img/payment/logo-yandex-money.png", alt="img" width="56")
								img(src="img/payment/logo-mastercard.png", alt="img" width="26")

				.col-lg-4
					.delivery-info
						.title-3
							p Круглосуточная поддержка клиентов и оформления заказа:
								a(href="tel:+74998416793" itemprop="telephone") +7 499 841-67-93
								a(href="tel:+74998416793" itemprop="telephone") +7 977 675-66-30.
							
						.address-block
							.address-block__item(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
								p Адрес:
								p
									span(itemprop="addressLocality")  г.Москва, 
									span(itemprop="streetAddress") ул. Королева, 12 
							.work-time_item
								span Режим работы:								
								span - Среда - Четверг - Воскресенье с 15:00 - 00:00
								span - Пятница - Суббота 15:00-02:00
								span - Понедельник - Вторник - выходные дни:)

