section.faq
	.container
		.title-2 Отвечаем на самые популярные вопросы
		#answers
			.card
				#headingOne.card-header
					h5
						button.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
							| Будет ли заказанный букет в точности соответствовать его изображению на сайте?
							span.arrow.rotate
								+upArrow
				#collapseOne.collapsable.collapse.show(aria-labelledby="headingOne" data-parent="#answers")
					.card-body 	Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
					
			.card
				#headingTwo.card-header
					
					h5
						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
							| Какие сроки доставки цветов?
							span.arrow
								+upArrow
				#collapseTwo.collapsable.collapse(aria-labelledby="headingTwo" data-parent="#answers")
					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
						
			.card
				#headingThree.card-header
					h5
						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
							| Звоните ли вы получателю перед доставкой? Что будет, если получателя не окажется по адресу доставки? 
							span.arrow
								+upArrow
				#collapseThree.collapsable.collapse(aria-labelledby="headingThree" data-parent="#answers")
					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
			.card
				#headingFour.card-header
					h5
						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
							| Можно ли сделать доставку в нерабочее время или ночью?
							span.arrow
								+upArrow
				#collapseFour.collapsable.collapse(aria-labelledby="headingFour" data-parent="#answers")
					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.

			.card
				#headingFive.card-header
					h5
						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
							| Можете ли вы собрать индивидуальный букет по моему заказу?
							span.arrow
								+upArrow
				#collapseFive.collapsable.collapse(aria-labelledby="headingFive" data-parent="#answers")
					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
			.card
				#headingSix.card-header
					h5
						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
							| Как мне внести изменения в заказ?
							span.arrow
								+upArrow
				#collapseSix.collapsable.collapse(aria-labelledby="headingSix" data-parent="#answers")
					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
			.card
				#headingSeven.card-header
					h5
						button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven")
							| Как сделать заказ букета?
							span.arrow
								+upArrow
				#collapseSeven.collapsable.collapse(aria-labelledby="headingSeven" data-parent="#answers")
					.card-body Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.