.filter-panel
	.filter-panel__block
		h4 Категории
		.filter-panel__menu
			ul
				li.drop-list
					a(href="#!") Классические
					.menu-drop
						a(href="#").active Розы
						a(href="#") Пионы
						a(href="#") Тюльпаны
				li.drop-list
					a(href="#!") Дизайнерские
					.menu-drop
						a(href="#") Розы
						a(href="#") Пионы
						a(href="#") Тюльпаны
				
				li.drop-list
					a(href="#!") Цветы в коробке
					.menu-drop
						a(href="#") Розы
						a(href="#") Пионы
						a(href="#") Тюльпаны
				li
					a(href="#!") Корзины цветов

	.filter-panel__block
		.filter-type
			h5 Цена, Р
			.price-filter__range
				.price-filter__value
					label.basic-text(for="amount") oт
					input.price-value#amount(type="text")
					label.basic-text(for="amount_1") до
					input.price-value#amount_1(type="text" )
				#slider-range
		
		.filter-type
			h5 Акции
			.filter-checkbox__group
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Товары по акции
		.filter-type
			h5 Новинки
			.filter-checkbox__group
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Новые поступления
		.filter-type
			h5 Упаковка
			.filter-checkbox__group
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Крафт-бумага
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Коробка
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Органза
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Сетка
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Фетр
				.filter-checkbox
					label(class="form-label")
						input(class="form-checkbox" type="checkbox" )
						span.custom-checkbox
						span Пленка
		.filter-type
			h5 Цвет
			.color-filter.filter-panel--color
				.form-group.form-group--noColor
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background: url(img/bg/no-color.png);")
				.form-group
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background-color: red;")
				.form-group
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background-color: green;")
				.form-group
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background-color: yellow;")
				.form-group
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background-color: blue;")
				.form-group
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background-color: pink;")
				.form-group
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background-color: orange;")
				.form-group
					label
						input(type="radio" id="rad3" name="radio-gr2")
						.fake-label(style="background-color: purple;")
		
		.filter-button
			button.page-button.page-button--red.h-40 Сбросить 