.header-top
	.container
		.title-1.text-center Проект Delivery
		.row(style="margin-top: 50px;")
			.col-md-4
				.page-card
					a(href="uikit.html").title-2 UI-KIT
			.col-md-4
				.page-card
					a(href="main.html").title-2 MAIN