section.review-slider(style="background-image: url(img/bg/rev-bg.png")
	.container
		.row
			.col-md-10.col-xl-8.offset-xl-4
				.title-row
					h2.head-2  Отзывы
					.rev-arrows.slider-arrows
						.ar-next#rev-next
							+left-arrow
						.ar-prev#rev-prev
							+right-arrow
				.review-slider-wrapper.owl-carousel
					.review-slider-item
						.rev-text
							p Стильная студия и редкой красоты дизайн! Помогли составить не стандартный букет на юбилей свадьбы родителей, и предложили хорошую идею подарка!
							p Спасибо! Плюсую.
						.rev-bottom
						p Татьяна Самойлова
					.review-slider-item
						.rev-text
							p Стильная студия и редкой красоты дизайн! Помогли составить не стандартный букет на юбилей свадьбы родителей, и предложили хорошую идею подарка! 
							p Спасибо! Плюсую.
						.rev-bottom
							p Татьяна Самойлова
					.review-slider-item
						.rev-text
							p Стильная студия и редкой красоты дизайн! Помогли составить не стандартный букет на юбилей свадьбы родителей, и предложили хорошую идею подарка!
						.rev-bottom
							p Татьяна Самойлова
				.block-link
					a(href="#!") Смотреть все отзывы
					.block-link__icon
						+restart

	
