section.review-slider(style="background-image: url(img/bg/rev-bg.png")
	.review-slider__content
		.title-row
			h2.title-2  Отзывы
			.rev-arrows.slider-arrows
				.ar-next
					i.fas.fa-angle-left
				.ar-prev
					i.fas.fa-angle-right
		.review-slider-wrapper.owl-carousel
			.review-slider-item
				p Стильная студия и редкой красоты дизайн! Помогли составить не стандартный букет на юбилей свадьбы родителей, и предложили хорошую идею подарка! Спасибо! Плюсую.
				p Татьяна Самойлова
			.review-slider-item
				p Стильная студия и редкой красоты дизайн! Помогли составить не стандартный букет на юбилей свадьбы родителей, и предложили хорошую идею подарка! Спасибо! Плюсую.
				p Татьяна Самойлова
			.review-slider-item
				p Стильная студия и редкой красоты дизайн! Помогли составить не стандартный букет на юбилей свадьбы родителей, и предложили хорошую идею подарка! Спасибо! Плюсую.
				p Татьяна Самойлова
		.block-link
			a(href="#!") Смотреть все отзывы
			.block-link__icon
				+restart

	
