
section
	.container
		.menu-products__content
			.title-row
				h2.block-title Новые предложения:
				.title-row-column
					//===== выпадающий список
					.filter-select.form-select
						.form-select__icon
							+down-arrow
						input(type="text" name="city" placeholder="Все" autocomplete="off")
						ul.form-select__options
							li.active Классические
							li Дизайнерские
							li В коробке
							li В корзине
					// ===== стрелки слайдера
					.newProduct-arrows.slider-arrows
						.ar-next#newProduct-next
							+left-arrow
						.ar-prev#newProduct-prev
							+right-arrow
			
					
			.product-slider.owl-carousel
				.product-slider__item
					+main-product-card('Букет “Королева”', 'prod1', 270,  4890)
				.product-slider__item
					+main-product-card('Букет “Королева”', 'prod2', 270,  4500)
				.product-slider__item
					+main-product-card('Букет “Королева”', 'prod3', 270,  5000)
				.product-slider__item
					+main-product-card('Букет “Королева”', 'prod4', 270,  4250)
				.product-slider__item
					+main-product-card('Букет “Королева”', 'prod1', 270,  4890)
				.product-slider__item
					+main-product-card('Букет “Королева”', 'prod2', 270,  4500)