section.banner#banner
	.banner-slider.owl-carousel
		.banner-item(style="background-image: url(img/header/1.jpg)" width="1920" )
			.container
				.slide-content
					.slide-content__title
						p.slide-suptitle Доставим вовремя
						h1.slide-title Цветы - лучший подарок на день рождения
						p.light-text Скидка 10% при первом заказе
						a(href="#").page-button.page-button--red Перейти в каталог
		.banner-item(style="background-image: url(img/header/1.jpg)" width="1920")
			.container
				.slide-content
					.slide-suptitle Самые свежие
					h1.slide-title Цветы - для любимой
					
					
		.banner-item.lazy(style="background-image: url(img/header/1.jpg)" width="1920")
			.container
				.slide-content
					.slide-suptitle Доставим вовремя
					h1.slide-title Цветы - лучший подарок на день рождения
					