section.banner
	.banner-slider.owl-carousel
		.banner-item(style="background-image: url(img/header/1.jpg)" width="1920" )
			.container
				.slide-content
					h2.title-2 Доставим вовремя
					h1.title-1 Цветы - лучший подарок на&nbsp;день рождения
					p.light-text Скидка 10% при первом заказе
					a(href="#").page-button.page-button--red Перейти в каталог
		.banner-item(style="background-image: url(img/header/1.jpg)" width="1920")
			.container
				.slide-content
					h2.title-2 Самые свежие
					h1.title-1 Цветы - для единственной и&nbsp;любимой
					
					
		.banner-item.lazy(style="background-image: url(img/header/1.jpg)" width="1920")
			.container
				.slide-content
					h2.title-2 Будь джентельменом
					h1.title-1 Цветы - это свободная красота в&nbsp;природе.
					