section.main-benefits
	.container
		h2.title-2 Мы гарантируем, что у нас:
		.main-benefits__content
			.row
				.col-sm-6.col-lg-3
					.main-benefits-item
						.main-benefits-icon
							img(src="img/main/benefits/benefit1.png", alt="icon" width="65")
						p Свежайшие и качественные продукты
				.col-sm-6.col-lg-3
					.main-benefits-item
						.main-benefits-icon
							img(src="img/main/benefits/benefit2.png", alt="icon" width="65")
						p Быстрая доставка и лучший сервис
				.col-sm-6.col-lg-3
					.main-benefits-item
						.main-benefits-icon
							img(src="img/main/benefits/benefit3.png", alt="icon" width="65")
						p Лучшие повара с многолетним опытом
				.col-sm-6.col-lg-3
					.main-benefits-item
						.main-benefits-icon
							img(src="img/main/benefits/benefit4.png", alt="icon" width="65")
						p Незабываемый вкус настоящей пиццы