section#stoks.stocks.lazy(data-src="img/main/images/stock.png")
	.container
		.stocks-content
			.sale-slogan
				.sale-slogan__border
					img.lazy(src="img/main/images/border.png", alt="border")
				p 1+1=3
			h2.title-2  Акция!
			.stock-product
				h4 Томаты бакинские
				.stock-product-desk
					p Урожай 2020 года, 700 гр
				.stock-product-price
					p 630 #[span &#8381;]
			a(href="#!").page-button.page-button--red Купить