section.offer.pt-150
	.container
		.offer-content
			.slider-arrows.offer-arrows
				.ar-next#offer-next
					+left-arrow
				.ar-prev#offer-prev
					+right-arrow
			.offer-slider.owl-carousel
				// элемент слайдера
				.offer-slider-item
					.row
						.order-md-2.col-md-6.col-xl-5.offset-xl-1
							.offer-item__text.text-center
								h2.head Самые выгодные предложения сезона!
								p.title-2 Скидка 20%
								.offer-desk
									p Спешите приобрести букет в шляпной коробке со скидкой. До окончания акции осталось совсем немного:
								//===== TIMER =====
								.time-counter
									.time-counter-item
										.item-val
											p 34
											span дней
									.time-counter-item
										.item-val
											p 10
											span часов
									.time-counter-item
										.item-val
											p 15
											span минут
									.time-counter-item
										.item-val
											p 05
											span секунд
								//===== // TIMER =====
								a(href="#").page-button.page-button--red Купить сейчас
						.order-md-1.col-md-6.col-xl-5
							.offer-item__img.cardBorder
								img(src="img/products/discount1.jpg", alt="img" width="470")
				// элемент слайдера
				.offer-slider-item
					.row
						.order-md-2.col-md-6.col-xl-5.offset-xl-1
							.offer-item__text.text-center
								h2.head Самые выгодные предложения сезона!
								p.title-2 Скидка 10%
								.offer-desk
									p Спешите приобрести букет в шляпной коробке со скидкой. До окончания акции осталось совсем немного:
								//===== TIMER =====
								.time-counter
									.time-counter-item
										.item-val
											p 10
											span дней
									.time-counter-item
										.item-val
											p 05
											span часов
									.time-counter-item
										.item-val
											p 25
											span минут
									.time-counter-item
										.item-val
											p 15
											span секунд
								//===== // TIMER =====
								a(href="#").page-button.page-button--red Купить сейчас
						.order-md-1.col-md-6.col-xl-5
							.offer-item__img.cardBorder
								img(src="img/products/discount1.jpg", alt="img" width="470")