
section.section-info.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="stocks.html") Акции и скидки
			.brcrumg-item
				a(href="#!") Одна акция
		h1.page-title Маленькая пицца пепперони или маргарита за 200 руб
		article.flex-height
			.text-block
				.text-block__img(style="background-image: url(img/main/discounts/action1.jpg)")
				h3.title-3  Срок действия акции
				.text-16
					p Акция действует до 27.02.2020 года. Распространяется на всех покупателей нашей пиццерии, но имеет опеделенные условия.
			
				h3.title-3 Условия акции
				.text-16
					p Скидка действует при покупке большой пиццы.
		article.border-block
			.border-block_inner
				h3.title-3 Бесплатная доставка еды
				.text-16
					p Мы осуществляем бесплатную доставку еды на дом. Чтобы воспользоваться нашими предложением, оформите заказ стоимостью от 500 рублей. Любое выбранное вами блюдо будет в минимальные сроки доставлено в место назначения абсолютно бесплатно. Мы гарантируем не только бесплатную доставку еды, но и ее безупречное качество!
		.text-block
			h3.title-3 Сервис и качество
			.text-16
				p Благодаря отличному сервису и высокой степени ответственности сотрудников мини-пиццерии, клиенты получают горячие и теплые блюда, даже если они заказали доставку в отдаленный район города. Внимательность к пожеланиям клиентов, позволяет нам совершенствовать меню и предлагать только те блюда, которые востребованы в пиццериях, а представленный разнообразный ассортимент пиццерий понравится даже гурманам. Технология приготовления доведена до совершенства и мы уверены в своей продукции, а также и в том, что заказав в наших заведениях один раз, вы с радостью вернетесь к нам снова или воспользуетесь услугой доставки заказа!
		.row
			.col-md-6.col-lg-6
				.text-block
					h3.title-3 Акции и скидки
					.text-16
						p Чтобы наши клиенты всегда были сытыми и довольными, мы позаботились о самых выгодных скидках и акциях, благодаря которым заказ доставки еды в нашей пиццерии станет более выгодным.
					a(href="page-sales.html").page-button.page-button--red Смотреть все акции
			.col-md-6.col-lg-6
				.block-img
					img(src="img/main/discounts/action3.jpg", alt="discount")