
section.product-page.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="index.html") Каталог
			.brcrumg-item
				a(href="index.html") Классические
			.brcrumg-item
				a(href="") Букет "Эльвира"
		h1.page-title Букет "Эльвира"
		.product-page__content
			.row
				.col-lg-5
					.fotorama-wrapper
						.fotorama.fotorama--product(data-nav="thumbs" data-thumbmargin='20'  data-thumbwidth="132" data-thumbheight="94")
							a(href="img/products/elvira.jpg" data-srcset='img/products/elvira@2x.jpg 2x')
								img(src="img/products/elvira-mini1.jpg" width='132' height="94")
							a(href="img/products/elvira.jpg")
								img(src="img/products/elvira-mini2.jpg" width='132' height="94")
							a(href="img/products/elvira.jpg")
								img(src="img/products/elvira-mini3.jpg" width='132' height="94")
							a(href="img/products/elvira.jpg")
								img(src="img/products/elvira-mini2.jpg" width='132' height="94")
							a(href="img/products/elvira.jpg")
								img(src="img/products/elvira-mini3.jpg" width='132' height="94")
						
				.col-lg-7
					.product-set
						.product-set__row
							.rating-block
								.rating-block-icons
									span.rating-val
										+star
									span.rating-val
										+star
									span.rating-val
										+star
									span
										+star
									span
										+star
								.rating-block-text
									p Отзывы (3)
							
							
							a(href="#").upper-link оставить отзыв
						.product-set__price
							+priceBlock(3500, 5500)(class=" price-block--big")
						.product-set__text.text-14
							p Упаковка и оформление букета может отличаться от представленного на фото. Уточните все детали у наших флористов.
								
						.product-set__filter.product-set__filter-center
							.filter-col.filter-col--left
								h5 Упаковка:
								
								.products-optional__List
									.form-group
										input(type="radio" id="op1" name='optional' )
										label(for="op1")
											span Стандартная
												span.red-text (бесплатно)
									.form-group
										input(type="radio" id="op2" name='optional' )
										label(for="op2")
											span Крафт
												span.red-text (+390р)
									.form-group
										input(type="radio" id="op3" name='optional' )
										label(for="op3")
											span Корейка
												span.red-text (+390р)
									.form-group
										input(type="radio" id="op4" name='optional' )
										label(for="op4")
											span Преимум
												span.red-text (+390р)
									.form-group
										input(type="radio" id="op5" name='optional' )
										label(for="op5")
											span Корзинка
												span.red-text (+390р)
								
							.filter-col.filter-col--large
								h5 Дополнительно:
								.filter-panel.filter-checkbox__group
									.filter-checkbox
										label(class="form-label")
											input(class="form-checkbox" type="checkbox" )
											span.custom-checkbox
											span Средство для стойкости цветов
												span.red-text (+0 руб.)
									.filter-checkbox
										label(class="form-label")
											input(class="form-checkbox" type="checkbox" )
											span.custom-checkbox
											span Конверт с запиской
												span.red-text (+0 руб.)
								
							.filter-col.filter-col--right
								h5 Основной цвет
								.color-filter.filter-panel--color
									.form-group
										label
											input(type="radio" id="rad3" name="radio-gr2")
											.fake-label(style="background-color: blue;")
									.form-group
										label
											input(type="radio" id="rad3" name="radio-gr2")
											.fake-label(style="background-color: red;")
									.form-group
										label
											input(type="radio" id="rad3" name="radio-gr2")
											.fake-label(style="background-color: green;")
									.form-group
										label
											input(type="radio" id="rad3" name="radio-gr2")
											.fake-label(style="background-color: red;")
									.form-group
										label
											input(type="radio" id="rad3" name="radio-gr2")
											.fake-label(style="background-color: green;")
									
						.product-set__filter.product-set__filter--col
							.filter-col
								.filter-col-item
									h5 Размер букета
									.filter-select.form-select.form-select-light
										.form-select__icon
											i.fas.fa-angle-down
										input(type="text" name="city" placeholder="Стандартный (как на фото)" autocomplete="off")
										ul.form-select__options
											li.active Стандартный (как на фото)
											li Самые дешевые
											li Популярные
											li В наличии
							.filter-col
								.filter-col-item
									h5.mb-21 Высота стебля:
									.radio-block-horizontal
										.form-group
											input(type="radio" id="size-1" name='optional2' )
											label(for="size-1")
												span 60
													
										.form-group
											input(type="radio" id="size-2" name='optional2' )
											label(for="size-2")
												span 70
										.form-group
											input(type="radio" id="size-3" name='optional2' )
											label(for="size-3")
												span 80
													
										.form-group
											input(type="radio" id="size-4" name='optional2' )
											label(for="size-4")
												span 90
										.form-group
											input(type="radio" id="size-5" name='optional2' )
											label(for="size-5")
												span 100
									

						.product-set__footer
							.total-amount
								div.d-flex.counter-block
									span Количество:
									+counter 
									
								.buttons-group
									button.favorite-icon
										i.far.fa-heart
									button.h-40.page-button.page-button--light Купить в 1 клик
									button.h-40.page-button.page-button--red В корзину

// // ============ ОТЗЫВЫ =============
.tabs-block
	.container
		include _tabs-product-page.pug
		//============ ПОХОЖИЕ ТОВАРЫ =============				
section.other-products
	.container
		.other-products__content
			.title-row
				h2.block-title Популярные предложения:
				// ===== стрелки слайдера
				.popular-arrows.slider-arrows
					.ar-next#popular-next
						+left-arrow
					.ar-prev#popular-prev
						+right-arrow
			.popular-slider.owl-carousel
				.product-slider__item
					+main-product-card('Букет “Миранда”', 'popular1', 270,  4890)
				.product-slider__item
					+main-product-card('Букет “Поулина”', 'popular2', 270,  4500)
				.product-slider__item
					+main-product-card('Букет “Свежесть”', 'popular3', 270,  5000)
				.product-slider__item
					+main-product-card('Букет “Торонто”', 'popular4', 270,  4250)
				.product-slider__item
					+main-product-card('Букет “Миранда”', 'popular1', 270,  4890)
				.product-slider__item
					+main-product-card('Букет “Поулина”', 'popular2', 270,  4500)