
section.section-info.pt-30
	.container
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="#!") Обмен и возврат
		h1.page-title Обмен и возврат
		article.returne-text
			.row
				.col-xl-6
					.text-block__img
						img(src="img/main/images/returne.jpg", alt="img")
				.col-xl-6
					.conditions-text
						h3.title-34.pl-20 Возврат товаров до оплаты:
						.text-16.pl-20
							p Мы доставляем заказы в указанное вами место и время для того, чтобы вы могли с ними ознакомиться и принять решение о покупке.
							.marker-list.marker-bullit
								ul
									li Вы можете отказаться от всех или части зарезервированных товаров, не оплачивая ни их стоимости, ни стоимости доставки до принятия решения о покупке.
									li Используя для оплаты банковскую карту, вы также вправе отказаться от всего или части заказа.
										p (В этом случае в товарном чеке отмечается возврат товаров, от которых вы отказались, а с банковской карты списывается только та сумма, которая соответствует стоимости фактически полученных вами товаров).
		
		article
			h3.title-34.mb-30 Возврат товаров после оплаты:
			.conditions-text
				h3.title-3 Возврат продовольственных товаров:
				.text-16
					p Клиент может вернуть продовольственный товар только НЕНАДЛЕЖАЩЕГО качества. Продовольственный товар ненадлежащего качества — это товар:
					.marker-list.marker-bullit.marker-bullit--red
						ul
							li Непригодный для использования по назначению.
							li Брак или товар с недостатком (недостаток —это нарушение обязательных требований к товару), не соответствующий описанию на сайте, с истекшим сроком годности, товар, доставленный клиенту с нарушенной упаковкой.
					
		article.border-block
			.border-block_inner.p-30
				h3.title-3 Продовольственный товар #[span.t-upper НАДЛЕЖАЩЕГО] качества возврату или обмену #[span.t-upper НЕ ПОДЛЕЖИТ].
				.text-16
					p Возврат товаров после оплаты осуществляется на общих основаниях и регламентируется Законодательством РФ.
		
		
		article.marker-list-block
			.row
				.col-lg-6
					.conditions-text
						h3.title-3 Возврат непродовольственных товаров:
						.text-16
							p Клиент может вернуть непродовольственный товар НАДЛЕЖАЩЕГО качества в течение 14 дней, не считая дня покупки, если указанный товар не подошел по: 
						.marker-list.marker-bullit.marker-bullit--red.mb-30
							ul
								li форме
								li габаритам
								li фасону
								li расцветке
								li размеру
								li комплектации
				.col-lg-6
					.conditions-text
						h3.title-3 Возврат непродовольственного товара надлежащего качества производится, только если указанный товар:
						  
						.marker-list.marker-bullit.marker-bullit--red
							ul
								li не был в употреблении
								li сохранил свой товарный вид
								li сохранил потребительские свойства
								li сохранил фабричные ярлыки
								li имеет товарный или кассовый чек (должны быть соблюдены все вышеперечисленные требования)
		article
			.conditions-text
				h3.title-3 Внимание
				.text-16
					p Возврат непродовольственного товара производится с учетом ограничений, закрепленных Постановлением Правительства РФ от 19 января 1998 года № 55. 
					p (см. Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату и обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки и комплектации). 
					p Возмещение денежных средств за возвращенный товар осуществляется на основании письменного заявления покупателя с указанием фамилии, имени, отчества только при предъявлении в момент получения денежных средств документа, удостоверяющего личность (Паспорт) по расходно-кассовому ордеру с обязательным указанием фамилии, имени, отчества покупателя и его паспортных данных. 
		article.border-block
			.border-block_inner.p-30
				h3.title-3 Необходимо предварительно позвонить в Компанию для уточнения всех вопросов, связанных с возвратом товара, по номеру #[a(href="tel:+7499841-67-93") +7 (499)841-67-93] #[a(href="tel:+79776777530") +7(977)677-75-30 ]
				.text-16
					p Это позволит провести часть предварительной работы удаленно и сэкономить время на оформление документов.