section.pt-150.special-offer
	.container
		.special-offer__cards
			.row
				.col-md-4
					a(href="#!" style="background-image:url(img/products/special1.jpg)").special-item
						.special-item__text
							.label-item
								span свадьба
							.discount-val.text-burn 20%
				.col-md-4
					a(href="#!" style="background-image:url(img/products/special2.jpg)").special-item
						.special-item__text
							.label-item
								span пионы
							.discount-val.text-white 10%
				.col-md-4
					a(href="#!" style="background-image:url(img/products/special3.jpg)").special-item
						.special-item__text
							.label-item
								span тюльпаны
							.discount-val 5%

	.special-offer__img(style="background-image: url(img/bg/special-bg.jpg)")
		.container
			.special-offer__content
				h2.head-2 Специальные предложения
				a(href="#").page-button.page-button--red Смотреть все
