/*****ШАПКА****/
.header {
	position: relative;
	// padding-top: 40px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

	@media(max-width:1199px) {
		// padding-top: 15px;
	}
}

.header-top {
	background-color: #fff;
	padding-top: 38px;
	padding-bottom: 10px;

	@media(max-width:1199px) {
		padding-top: 15px;
	}
}

.header-top.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	-webkit-animation-name: showFixHeader;
	animation-name: showFixHeader;
	-webkit-animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	transform: translateY(-100%);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

@keyframes showFixHeader {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

.header-content {
	display: flex;
}

.header-nav {
	flex-grow: 1;

	.logo.logo-small {
		display: none;
	}

	@media(max-width:1199px) {
		display: flex;
		flex-direction: column-reverse;

		.logo.logo-small {
			display: block;
			width: 100px;
		}
	}

	@media(max-width:767px) {
		.logo.logo-small {
			width: 70px;
		}
	}

}

@-webkit-keyframes showFade {
	0% {
		-webkit-transform: translateY(-80%);
		transform: translateY(-80%);
	}

	100% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}

@keyframes showFade {
	0% {
		-webkit-transform: translateY(-80%);
		transform: translateY(-80%);
	}

	100% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}



.header-slogan {
	font-size: 12px;
	line-height: 17px;
	color: @pr;
	margin-right: auto;
}

.logo {
	margin-right: auto;
	font-size: 28px;
	line-height: 1;
	font-family: @rb;
	text-transform: uppercase;
	color: @pr;

	span+span {
		padding-left: 5px;
	}

	@media(max-width:767px) {

		display: none;
	}

}

.header-nav__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;


	@media(max-width:1199px) {


		&.mb-mobile {
			margin-bottom: 20px;
		}
	}

	.social-icons {
		margin-right: 40px;
		margin-left: 40px;


		@media(max-width:1199px) {
			display: none;
		}
	}

}

.header-menu .header-menu__contacts {
	display: none;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;

	.contact-phone a {
		color: #fff;
		font-size: 18px;

		&:hover {
			color: @green;
		}
	}


}

.header-menu__contacts .social-icons {
	display: none;

	@media(max-width:1199px) {
		display: flex;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

.header-nav__row:first-child {
	margin-bottom: 21px;


	@media(max-width:1199px) {
		margin-bottom: 15px;
	}
}

.header-nav__row:last-child {
	padding-top: 28px;
	padding-bottom: 29px;
}

@media (max-width: 1199px) {
	.header-nav__row {
		padding-top: 0;
		margin-bottom: 0;
	}
}



.user-avatar {
	width: 25px;
	height: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	top: 2px;
}


.user-avatar span {
	position: absolute;
	background-color: #d7001a;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid #fff;
	z-index: 2;
	top: 1px;
	left: 0px;
	display: blo
}

.user-avatar a {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1.5px solid @green;
	overflow: hidden;
	padding: 1.5px;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.user-avatar a img {
	border-radius: 50%;
}

.user-controls .user-favor {
	position: relative;
	margin-left: 30px;


	a {
		height: auto;
		position: relative;
		z-index: 2;
	}

}

.user-basket {
	position: relative;
	margin-left: 28px;
	top: 6px;

	a {
		line-height: 1;
	}

}

@media(max-width:1199px) {
	.user-controls .user-favor {
		margin-left: 24px;
	}

	.user-controls .user-basket {
		margin-left: 14px;
	}
}

@media(max-width:767px) {

	.user-controls .user-basket {
		margin-left: 10px;
		top: 3px;
	}

	.user-controls .user-favor {
		margin-left: 20px;
	}
}

@media(max-width:374px) {

	.user-controls .user-basket {
		margin-left: 6px;
	}

	.user-controls .user-favor {
		margin-left: 15px;
	}
}

.user-log-in {
	position: relative;
	top: 4px;

}

.favor-value,
.basket-value {
	position: absolute;
	top: -12px;
	right: -11px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	background-color: @red;
	display: block;
	color: #fff;
}

.favor-value {
	top: -1px;
	right: 1px;
	z-index: 1;
}


.header-nav__row .contact-phone {


	@media(max-width:767px) {
		display: none;
	}
}

.header-nav__row .header-menu__contacts .contact-phone {
	display: none;

	@media(max-width:1199px) {
		display: flex;
	}
}

.contact-phone a {
	font-size: 18px;
	font-weight: 700;
	color: #1f1f1f;
	line-height: 25px;
	white-space: nowrap;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	font-family: @rb;
	display: inline-block;
}

.contact-phone a:hover {
	opacity: .7;
}

@media (max-width: 1199px) {
	.contact-phone {
		margin-left: auto;
	}

	.contact-phone a {
		font-size: 15px;
	}
}

.user-controls {
	display: flex;
	align-items: center;
	margin-left: auto;
	// padding-bottom: 10px;
	padding-right: 10px;
	position: relative;
	top: -2px;

	@media(max-width:1199px) {
		padding-bottom: 0;
	}

	a {
		line-height: 1;
	}
}

@media(max-width:1199px) {
	.user-controls {
		padding-right: 0px;
		top: 0px;
	}
}

.user-controls a {
	display: block;


	@media(max-width:767px) {
		height: 25px;
	}

}

svg {
	max-width: 100%;
	max-height: 100%;
}

.user-controls a svg {

	-webkit-transition: .3;
	-o-transition: .3;
	transition: .3;
}


.user-controls a:hover svg path {
	fill: @green;
}

.search-panel .search-button span {
	position: relative;

	left: 1px;
}