/*****ГЛАВНАЯ - новые предложения****/


.menu-products__content {
	padding-top: 80px;
}

.product-slider__item {
	padding-top: 30px;
	padding-bottom: 30px;
}

.newProduct-arrows {
	margin-left: 20px;
}