.order-receiver {
	padding-bottom: 50px;

	.title-light {

		margin-bottom: 25px;


	}
}

.order-table {
	margin-right: 25px;


	padding-top: 0px;

	@media(max-width:767px) {
		padding-top: 25px;
	}
}

.table-row {

	// min-height: 96px;

	.table-cell {
		height: 100%;
		align-items: center;
		padding-bottom: 20px;
	}

	&.table-row--head {

		border-bottom: 2px solid #F0F3F6;

		@media(max-width:767px) {
			display: none;
		}

		.table-cell {
			display: flex;
			align-items: center;

		}
	}

	.table-cell {

		h5 {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;
		}
	}



}

.order-receiver {
	.basket-mob-cost {
		@media(max-width:767px) {
			flex-direction: row;
			justify-content: flex-start !important;
			align-items: center;

			.title-3 {
				margin-right: 20px;
			}

		}

	}

	.table-row.table-row__result {
		display: flex;
		align-items: center;
		min-height: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 2px solid #F0F3F6;

		p {
			margin-right: 20px;
		}
	}

	.basket-table {

		.accent-item {
			@media(min-width:768px) {
				margin-bottom: 3px;
			}
		}

		.basket-item-col {
			justify-content: flex-end;
		}

		@media(max-width:991px) {
			.basket-item-count p {
				display: none;
			}
		}
	}

	.contacts-wrapper {
		padding-top: 30px;
	}

	.contacts-column {
		margin-bottom: 30px;

		.title-3 {
			margin-bottom: 20px;
		}

		li {
			display: flex;
			align-items: center;
			margin-bottom: 5px;
			font-size: 13px;
			line-height: 19px;


			p {
				padding-left: 10px;
				font-weight: 700;
			}
		}
	}
}