// карточка продукта
.product-card-item {
	position: relative;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;

	.icon-group {
		position: absolute;
		bottom: 105px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		display: flex;
		align-items: center;
		opacity: 0;
		.tr;

		a {
			display: inline-flex;
			height: 35px;
			width: 35px;
			border-radius: 50%;
			border: 1px solid @ac3;
			justify-content: center;
			align-items: center;
			color: @ac3;
			.tr;

			path {
				fill: @ac3;
				.tr;
			}

			&.ic-cart path {
				fill: transparent;
				stroke: @ac3;
				.tr;
			}

			&+a {
				margin-left: 10px;
			}

			&:hover {
				border: 1px solid @ac1;
				color: @ac1;

				path {
					fill: @ac1;
				}

				&.ic-cart path {
					fill: transparent;
					stroke: @ac1;
				}
			}

		}

	}
}

.product-card {
	display: block;
	border-radius: 10px;
	overflow: hidden;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;



	.product-card__desk {
		display: none;
	}


}

.price-block {
	display: flex;
	justify-content: center;
	align-items: flex-end;

	.oldPrice {
		// position: absolute;
		// top: 5px;
		// right: -20px;
		// transform: translateX(100%);
		font-size: 14px;
		line-height: 24px;
		color: @ac1;
		text-decoration: line-through;
		// display: block;
		font-family: @rr;
		margin-left: 20px;

	}
}

.price-block--big {
	p {
		font-size: 30px;
		line-height: 1.3333;
		font-family: @rb;
		color: @pr;
	}

	.oldPrice {
		font-size: 20px;
		line-height: 1.2;
		font-family: @rsb;
		margin-left: 20px;
	}
}

.product-card__img {
	border-radius: 10px;
	overflow: hidden;
	object-fit: cover;
	position: relative;
	.tr;
}

.product-card__img:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	height: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
	opacity: 0;
	.tr;
}

.product-card__title {
	text-align: center;
	margin-top: 30px;

	h3 {
		font-size: 16px;
		line-height: 26px;
		color: @pr2;
		font-family: @rr;
		.tr;
	}

	p {
		font-size: 20px;
		line-height: 1.4;
		font-family: @rb;
		color: @pr2;
		.tr;
	}
}

.product-card-item:hover {
	.product-card__img {
		box-shadow: 0px 4px 20px rgba(226, 23, 54, 0.1);

		&:after {
			opacity: 1;
		}
	}

	.icon-group {
		opacity: 1;
	}

	.product-card__title {
		h3 {
			color: @pr;
		}

		p {
			color: @red1;
		}
	}
}

.card-horizontal .product-card-item:hover {
	.product-card__desk p {
		color: @pr;
	}
}

.card-badges {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 5;
}

.card-badge {
	padding-left: 15px;
	padding-right: 15px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	font-size: 10px;
	font-family: @rb;
	display: inline-block;
	border-radius: 20px;
	display: block;
	width: fit-content;
	pointer-events: none;

	&+.card-badge {
		margin-top: 15px;
	}

}

.card-badge--discount {
	background-color: @ac1;
}

.card-badge--new {
	background-color: @green1;
}

.card-badge--hit {
	background-color: @ac3;
}

// ===карточка продукта
.product-counter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 78px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin-left: 20px;
}

.product-counter span {
	display: inline-block;
}

.product-counter--num {
	border-width: 1px;
	border-color: rgb(191, 191, 191);
	border-style: solid;

	text-align: center;
	margin-left: 7px;
	margin-right: 7px;
	color: @pr2;
	font-weight: 700;
	border-radius: 50%;
	border-color: transparent;
	background: #F5F5F5;
	min-height: 30px;
	min-width: 30px;
	font-size: 16px;
	line-height: 25px;
}

.product-counter span:last-child {
	margin-right: 0;
}

.product-counter .product-counter--plus,
.product-counter .product-counter--minus {
	position: relative;
	cursor: pointer;
	background-color: #fff;
	border: 0px;
	color: @sec;

	font-size: 30px;
	width: 20px;
	height: 30px;
	margin-right: 0;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.product-counter .product-counter--plus {
	margin-right: 0;
	user-select: none;
	top: -1px;
}

.product-counter .product-counter--minus {
	font-size: 26px;
	position: relative;
	top: -3px;
	user-select: none;
}

.product-counter .product-counter--plus:hover,
.product-counter .product-counter--minus:hover {
	opacity: .7;
}

.product-card__footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;


}