extends ../layouts/layout.pug

block content	
	
	+header([{hrefLink: 'index.html', text: 'Главная'}, {hrefLink: 'catalog.html', text: 'Каталог'}, {hrefLink: 'aboutus.html', text: 'О компании', addClass:'active'}, {hrefLink: 'delivery-page.html', text: 'Доставка и оплата' }, {hrefLink: 'stocks', text: 'Акции'},  {hrefLink: 'contacts.html', text: 'Контакты'}, {hrefLink: 'returns.html', text: 'Обмен и возврат'}])
	.content-wrapper
		include ../sections/_aboutus-page.pug
		include ../sections/_footer.pug
	
block variables
	-var title = "О компании";