extends ../layouts/layout.pug

block content

	+header([{hrefLink: 'index.html', text: 'Главная', addClass:'active'}, {hrefLink: 'catalog.html', text: 'Каталог'}, {hrefLink: 'aboutus.html', text: 'О компании'}, {hrefLink: 'delivery-page.html', text: 'Доставка и оплата' },  {hrefLink: 'stocks.html', text: 'Акции'},  {hrefLink: 'contacts.html', text: 'Контакты'}, {hrefLink: 'returns.html', text: 'Обмен и возврат'}], 'avatar')
	include ../sections/_main-slider.pug
	include ../sections/_category-block.pug
	include ../sections/_main-section-menu.pug
	include ../sections/_main-cta.pug
	include ../sections/_offer.pug
	include ../sections/_poppular.pug
	include ../sections/_special.pug
	//- include ../sections/_aboutus.pug
	//- include ../sections/_footer.pug

block variables
	-var title = "Главная";