extends ../layouts/layout.pug

block content
	
	+header([{hrefLink: 'index.html', text: 'Главная', addClass:'active'}, {hrefLink: 'aboutus.html', text: 'О нас'}, {hrefLink: 'categories.html', text: 'Каталог'},  {hrefLink: 'contacts.html', text: 'Акции'}, {hrefLink: 'blog.html', text: 'Блог' },  {hrefLink: 'contacts.html', text: 'Контакты'}], 'avatar')
	.layout-hidden
	.content-wrapper
		include ../sections/_page-sales.pug	
		include ../sections/_footer.pug
	
block variables
	-var title = "Акции и новости";